body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height:1.4;
  /* font-family: 'Nanum Gothic', sans-serif; */
  font-family: 'Secular One', sans-serif;
}

img {
  display: block;
  height:50px;
}
a{
  text-decoration: none;
  cursor: pointer;
  color:black;
}
/*INNER*/
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
  
}


/*HEADER*/
header {
  position: relative;
  width: 100%;
  background-color: white;
  height:110px;
  position:fixed;
  z-index:9;
  /* top:0; */
  border-bottom: 4px solid rgb(69, 48, 138);
}
header > .inner {
  height: 110px;
  
}
header .logo{
  position: absolute;
  top:0;
  bottom:0;
  left:10px;
  margin:25px 0;
  
}

header .main__nav{
  width:700px;
  height:50px;
  position: absolute;
  top:60px;
  right:-90px;
}


header .nav{
  position: relative;
  display:flex;
  text-align: right;

}
header .main__nav .nav__name{
  font-size:20px;
  font-weight:bold;
  display:block;
  padding:0 15px;
  margin:0 20px;
  z-index: 1;
  height:27px;
}

header .main__nav .nav__name:hover{
  color:rgba(33,33,33,0.7); 
}
header .main__nav .nav .nav__name .solutions-nav {
  /* display:none; */
  visibility:hidden;
  opacity:0;
  margin:5px 0 0 0;
  background-color: white;
  transition: all .5s;
}
header .main__nav .nav .nav__name:hover .solutions-nav{
  /* display:block; */
  visibility:visible;
  opacity:1;
  color:black;
  
}
header .main__nav .nav .nav__name .solutions-nav li{
  font-size:16px;
  border: 2px solid rgb(69, 48, 138);
  padding:4px 4px 4px 0;
  font-weight: bold;
}
header .main__nav .nav .nav__name .solutions-nav li:first-child {
  border-bottom:none;
}
#us a{
  position: relative;
  color:rgb(69, 48, 138);
}
#us a::after{
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -4px;
  background: rgb(69, 48, 138);
  transition: all .5s;
}
#us a:hover{
  color:rgba(33,33,33,0.7);
}
header .main__nav .nav .nav__name a{
  position: relative;
}
header .main__nav .nav .nav__name a:after{
  content:"";
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 0;
  height: 4px;
  background-color: rgb(69, 48, 138);
  transition: all .5s;
  border-radius: 0 10px 10px 0;
  
}
header .main__nav .nav .nav__name a:before{
  content:"";
    position: absolute;
    right: 50%;
    bottom: -4px;
    width: 0;
    height: 4px;
    background-color: rgb(69, 48, 138);
    transition: all .5s;
    border-radius: 10px 0 0 10px;
}
header .main__nav .nav .nav__name a:hover:after{
  width:50%;
}
header .main__nav .nav .nav__name a:hover:before{
  width:50%;
}
header .main__nav .nav .nav__name a:hover{
  color:rgba(33,33,33,0.7);
}
/* header .main__nav .nav .nav__name .solution{
  color:rgb(69, 48, 138);
  text-decoration: underline;
} */




.contact{
  width:100%;
}
.contact .inner{
  width:1400px;
}
.contact .inner .middle{
  position:relative;
}
.middle{
  top:160px;
  width:100%;
}
form{
  position:absolute;
  right:20px;
  font-weight: bold;
  color:white;
  top:20px;
}
form input{
  width:518px;
  height:45px;
  margin-bottom: 10px;
  /* border:3px solid rgb(69, 48, 138); */
  box-sizing:border-box;
  border-radius: 10px;
  border:none;
  font-size:20px;
  font-weight: bold;
}
form input:focus{
  /* border:4px solid rgb(69, 48, 138); */
}

textarea {
  width:518px;
  min-height: 100px;
  resize: none;
  font-size:18px;
  border-radius: 10px;
  box-sizing:border-box;
  /* border:3px solid rgb(69, 48, 138); */
  font-size:20px;
  font-weight: bold;
}
textarea:focus{
  /* border:4px solid rgb(69, 48, 138); */
}
iframe{
  position:absolute;
  border:5px solid rgb(69, 48, 138);
  border-radius: 10px 0 0 10px;
}
form .name{
  display:flex;
}
#lastname {
  margin-bottom: 0;
  width:254px;
}

#firstname {
  margin-bottom: 0;
  width:254px;
  
}
.space{
  width:10px;
  height:5px;
}

.jop{
  margin-top:10px;
}

.space2{
  width:10px;
  height:10px;
}

.line{
  /* z-index:1; */
  position:absolute;
  width:1440px;
  height:775px;
  border:5px solid rgb(69, 48, 138);
  background-color: rgb(69, 48, 138);
  border-radius: 10px;
}
input::placeholder {
  font-weight: bold;
  /* font-family: 'Nanum Gothic', sans-serif; */
  font-family: 'Secular One', sans-serif;
  font-size:18px;
}
textarea::placeholder {
  /* font-weight: 600; */
  /* font-family: 'Nanum Gothic', sans-serif; */
  font-family: 'Secular One', sans-serif;
  font-size:20px;
}
.under-write{
  font-size: 14px;
}

.btn1{
  margin-top:5px;
  cursor: pointer;
  border-radius: 10px;
  width:20%;
  height:50px;
  transition: all 0.6s;
  font-weight: bold;
  font-size:18px;
  border:none;
  margin-left:415px;
  background-color: white;
  border:4px solid white;
  letter-spacing: 3px;
  padding-left:9px;
  color:rgb(69, 48, 138);
  font-family: 'Secular One', sans-serif;
}
.btn1:hover{
  color:white;
  background-color:rgb(69, 48, 138);
  
  border:4px solid white;
}


footer{
  position:absolute;
  height:300px;
  width:100%;
  top:1000px;
  /* border-top:5px solid rgb(69, 48, 138); */
  background-color: white;
}
footer div .a{
  width:100%;
  height:300px;
  background-color: rgb(69, 48, 138);
  /* border:5px solid rgb(69, 48, 138); */
}

