<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
  <link rel="icon" href="./images/onlylogo.png" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
  <link rel="stylesheet" href="./css/contact.css" />

  <script defer src="./js/map.js"></script>
  <title>FBOE__Contact us</title>
  <header>
    <div class="inner">
      <a href="javascript:void(0)" class="logo">
        <img src="./images/FBOENAME.png" alt="FBOE" />
      </a>
      
      <div class="main__nav">
        
        <ul class="nav">
          <div class="nav__name"><a href="javascript:void(0)">Home</a></div>
          <div class="nav__name"><a class="solution" href="javascript:void(0)">Solutions</a>
            <ul class="solutions-nav">
              <li><a href="./mbca.html">MBCA</a></li>
              <li><a href="./amc.html">AMC</a></li>
            </ul>
          </div>
          <div class="nav__name"><a href="javascript:void(0)">About us</a></div>
          <div class="nav__name" id="us"><a href="./contact.html">Contact us</a></div>
        </ul>
        
      </div>
    </div>
  </header>
  <script>
        function test(){
            if(document.getElementById("company").value==""){
                alert("빈칸을 채워주세요");
                return;
            }
            if(document.getElementById("industry").value==""
                    ||isNaN(document.getElementById("industry").value)){
                alert("빈칸을 채워주세요");
                return;
            }
            if(document.getElementById("firstname").value==""
                    ||isNaN(document.getElementById("firstname").value)){
                alert("빈칸을 채워주세요");
                return;
            }
            if(document.getElementById("lastname").value==""
                    ||isNaN(document.getElementById("lastname").value)){
                alert("빈칸을 채워주세요");
                return;
            }
            if(document.getElementById("jobtitle").value==""
                    ||isNaN(document.getElementById("jobtitle").value)){
                alert("빈칸을 채워주세요");
                return;
            }
            if(document.getElementById("jobtitle").value==""
                    ||isNaN(document.getElementById("jobtitle").value)){
                alert("빈칸을 채워주세요");
                return;
            }
            if(document.getElementById("message").value==""
                    ||isNaN(document.getElementById("message").value)){
                alert("빈칸을 채워주세요");
                return;
            }
            document.getElementById("frm").submit();
        }
    </script>
    
</head>
<body>
  <section class="contact">
    <div class="inner">
      <div class="middle">
        <div class="container"> 
          <div class="line"></div>
          <div class="item"> 
              <form action="{% url 'users:meeting' %}" class="sign" method="post">
                  <!-- {% csrf_token %} -->
                  
                  
                  <div>C o m p a n y<br>
                      <label for="meeting"></label>
                      <input type="text" name="company" id="company" placeholder="Company">
                      
                  </div>
                  <div>I n d u s t r y<br>
                      <label for="meeting"></label>
                      <input type="text" name="industry" id="industry" placeholder="Industry">
                  </div>
                  N a m e
                  <div class="name">
                    <div>
                      
                        <label for="meeting"></label>
                        <input type="text" name="firstname" id="firstname" placeholder="First Name"><br><div class="under-write">First&nbsp; Name</div>
                    </div>
                    <div class="space"></div>
                    <div class="last">
                      
                        <label for="meeting"></label>
                        <input type="text" name="lastname" id="lastname" placeholder="Last Name"><br><div class="under-write">Last &nbsp;Name</div>
                    </div>
                  </div>
                  <div class="space2"></div>
                  <div>J o b&nbsp;&nbsp;&nbsp;&nbsp;T i t l e<br>
                      <label for="meeting"></label>
                      <input type="text" name="jobtitle" id="jobtitle" placeholder="Job Title">
                  </div>
                  <div>E m a i l<br>
                      <label for="meeting"></label>
                      <input type="text" name="email" id="email" placeholder="Email">
                  </div>
                  <div>M e s s a g e<br>
                      <label for="meeting"></label>
                      <textarea name="message" id="message" cols="30" rows="11" placeholder="Message"></textarea>
                  </div>
                  
                  <input type="submit" value="Send" class="btn1" onclick="test()">
                  
                  
              </form>
              <!-- <a href="{%url 'users:main' %}" ><button>돌아가기</button></a> -->
          </div>
      </div>
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51930.01282425494!2d129.2878466138419!3d35.562942755774735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3567cd31a871ec8d%3A0x6a120e36a1c0470d!2z7Jq47IKw67mE7KaI7YyM7YGs!5e0!3m2!1sko!2skr!4v1654692385846!5m2!1sko!2skr"
          width="780" height="775" allowfullscreen="" 
          loading="lazy"  referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
  </section> 
  <footer>
    <div class="inner">
      <div class="a">

      </div>
    </div>
  </footer>
</body>
</html>